{
  "policy": {
    "phases": {
      "hot": {
        "min_age": "0ms",
        "actions": {}
      },
      "delete": {
        "min_age": "${retention_period_days}d",
        "actions": {
          "delete": {}
        }
      }
    }
  }
}
